* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}
.bg-dark-blue {
  background-color: #062e51;
}
/* Container */
.container {
  max-width: 1100px;
  margin: 0 auto;
  display: flex;
  align-items: flex-start;
}
.heading-small {
  font-size: 1.25rem;
}
#navbar {
    color: white;
    display: flex;
    justify-content: space-between;
    align-items: center;
}
